* {
    margin: 0px;
    padding: 0px;
  }
  html {
    scroll-behavior: smooth;
  } 
  .navbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  #logo img {
    margin: 3px 3px;
  }
  ul {
    display: flex;
  }
  ul li {
    list-style: none;
    font-size: 1rem;
  }
  ul li a {
    text-decoration: none;
    display: block;
    padding: 7px 16px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin: 0px 5px;
    border-radius: 5px;
  }
  ul li a:hover {
    transition: all;
    transition-duration: 0.6s;
    background-color: black;
    color: white;
  }
  .navbarhome {
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .bgvideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  .home h1 {
    font-size: 4.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  .home h3 {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    margin-top: 5px;
  }
  .btn {
    margin-top: 13px;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  .btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
  .bgvideo {
    position: absolute;
  }
  .services {
    background-color: rgb(185, 166, 166);
    height: 395px;
  }
  .services h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    padding: 11px;
    color: rgb(0, 0, 0);
    padding-bottom: 2px;
  }
  .servcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  .box {
    border: 1px solid rgb(5, 5, 10);
    height: 290px;
    width: 280px;
    margin: 10px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    transition-duration: 0.2s;
    transition-property: all;
  }
  .box:hover {
    background-color: rgb(54, 51, 51);
    color: white;
  }
  #box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #box1 img {
    display: block;
    margin: auto;
    padding-top: 60px;
  }
  #box1 h3 {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  #box1 p {
    font-size: 1.03rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    margin-top: 10px;
  }
  #box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #box2 img {
    display: block;
    margin: auto;
    padding-top: 40px;
  }
  #box2 h3 {
    margin-top: 16px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  #box2 p {
    font-size: 1.03rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 10px;
  }
  #box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #box3 img {
    display: block;
    margin: auto;
    padding-top: 40px;
  }
  #box3 h3 {
    margin-top: 16px;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  #box3 p {
    font-size: 1.03rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 10px;
  }
  #box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #box4 img {
    display: block;
    margin: auto;
    padding-top: 40px;
  }
  #box4 h3 {
    margin-top: 16px;
    font-size: 1.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  #box4 p {
    font-size: 1.03rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 10px;
  }
  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .brand::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 68%;
    z-index: -1;
  }
  .brand h2 {
    padding: 8px 10px;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  .brandscontainer {
    height: 358px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    row-gap: 13px;
    column-gap: 30px;
    margin-top: 10px;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
  }
  .about::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 68.8%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
  }
  .about h2 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  .aboutcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 242px;
    width: 65%;
    border: 2px solid rgb(73, 27, 27);
    padding: 10px;
    font-size: 1.1rem;
    margin-top: 10px;
    color: white;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all;
    transition-duration: 0.5s;
    margin-bottom: 24px;
  }
  .aboutcontainer:hover {
    background-color: rgb(71, 66, 66);
  }
  .contactuscontainer {
    border: 2px solid rgb(22, 36, 11);
    height: 250px;
    width: 55%;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  .contactus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
  .contactus h2 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  .contactuscontainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formelement {
    margin: 5px;
    padding: 4px 150px;
    text-align: center;
    background-color: black;
    font-size: 1.2rem;
    border-radius: 6px;
  }
  #username {
    margin-top: 17px;
    color: white;
  }
  #usermessage {
    color: white;
    height: 87px;
    width: 536px;
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 6px;
  }
  #email {
    color: white;
  }
  .formbtn {
    margin-left: 81px;
    margin-top: 7px;
    padding: 5px 231px;
    font-size: 1.24rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(227, 210, 210);
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.3s;
  }
  .formbtn:hover {
    background-color: #1b1717;
    color: white;
  }
  .contactus::before {
    content: "";
    background: url("contactus.jpg") no-repeat center center/cover;
    height: 59.5%;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0.9;
  }
  footer {
    background: rgb(255, 255, 255);
    bottom: 0px;
    width: 100%;
    font-size: 15px;
    color: black;
    line-height: 20px;
    height: 270px;
  }
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col1 {
    flex-basis: 25%;
    padding: 8px;
  }
  .col1 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
  }
  .col2 h3 {
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  .col2 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
  }
  #email-id {
    width: fit-content;
    padding: 10px 0px;
  }
  .col3 h3 {
    margin-top: 30px;
    width: fit-content;
    position: relative;
    margin-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
  }
  .col3 input {
    background: transparent;
  }
  .lastform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
    padding: 8px;
  }
  .lastform input {
    width: 100%;
    background: transparent;
    border: 0px;
    outline: none;
  }
  .lastform .fa-solid {
    color: black;
    margin-right: 10px;
    font-size: 20px;
  }
  .social-icons .fa-brands {
    margin: 18px 7px;
    font-size: 30px;
    cursor: pointer;
  }
  .loginlogo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 700px;
  }
  .loginlogo .fa-solid {
    font-size: 1.7rem;
    color: rgb(207, 219, 210);
    cursor: pointer;
  }
  .loginlogo h4 {
    padding-bottom: 7px;
    font-size: 1rem;
    color: rgb(207, 219, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }